.landing-align{
    text-align: center;
    background-color: rgba(237, 239, 255, 1);
    font-family: Grtsk-Zetta;
    font-style: normal;
    font-weight: normal;
}

.read-documentation-button{
    height:180px;
    color: white;
    border-radius: 42px;
    background: linear-gradient(87.79deg, #8794FF 5.12%, #3B50FF 99.11%);

}
.browse-button{
    margin-left: 20px;
    height: 180px;
    border-radius: 42px;
    background: #EDEFFF;
}
.button-to-left{
    position: absolute;
    margin-top: 70px;
    margin-right: -50px;

}
.button-to-right{
    position: absolute;
    margin-top: 70px;
}
.title{
    font-family: Whyte-Inktrap;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #313439;
}
.title{
    font-family: Whyte-Inktrap;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #313439;
}
.about{
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #313439;
}
.landing-animation{
    background-color: white;
    margin-top: 30px;
    font-size: 40px;
    font-family: Whyte-Inktrap;
    text-transform: uppercase;

}
.number-animation{
    margin-top: 50px;
    font-family: Whyte-Inktrap;
    font-size: 54px;
}
.total-generated{

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313439;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 80px;
}
.title-earning-section{
    padding-bottom:20px;
    text-align: center!important;
}
.description{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}
.earning-nfts{
    background-color: white;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 60px;


}
.explore{
    margin-top:40px;
}
.prices{
    margin-top: 30px;
    position: absolute;
}
.nft-list{
    margin-top: 100px;
    padding-left: 75px;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
}
.documentation{
    background-color: white;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 60px;


}
.title-documentation{
    padding-bottom: 50px;
    width: 500px;

}
.sponsors{
    background-color: white;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title-sponsors{
    padding-bottom: 150px;
}
.buttons-landing{
    background-color: white;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-bottom: 100px;
    text-transform: uppercase;
}
.button-text{
    margin-top:77px;
}
.read-documentation{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 140px;
    height: 37px;
    font-size: 11px;
    left: 132px;
    top: 0px;
    border: none;
    background: #F0F1F9;
    border-radius: 6px;
    margin-top:50px;
    margin-bottom: 50px;
}

