.profile-nav{
    font-family: Grtsk-Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #808195;
    flex: none;
    order: 1;

    flex-grow: 0;
    margin: 15px 0px;
    margin-top: 200px;
    margin-left: 50px;
}
.profile-nav div{
    margin-bottom: 25px;
}
.back-to-markeplace{
    float: left;
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313439;
}
.back-to-marketplace{
    padding-bottom: 250px;
    float: left;
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313439;
}
.right-profile-menu{
    float: right;
}
.current-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}
.deposit-subscription-button{
    height: 87px;
    background: #4946E6;
    border: none;
    border-radius: 1000px;
    margin: 0 auto;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}
.price-desc{
    font-family: Grtsk Zetta;
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #B2B2C1;
}
.price-dollars{
    padding: 20px;
    font-family: Whyte Inktrap;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #B2B2C1;
}
.collect-row{
    padding: 20px;
    padding-left: 0px;
}
.nav-item{
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313439;
}
.active-listing-nft{
    margin-bottom: 40px;
    
}
.active-subscription-desc{
    font-family: Whyte;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 120%;
/* or 24px */

letter-spacing: 0.01em;

color: #808195;
}
.patronage-table-nav{
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #B2B2C1;
}
.patronage-table-row{
    background: #F7F7FC;
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #313439;
    border-radius: 110px;
    padding: 30px;
    margin-top: 1px;
}

.active-listings{
    border-bottom: 1px solid #F0F1F9;
    margin-right: 3%;

}
.patronages-row{
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F0F1F9;
    margin-right: 3%;

}
.account-settings{
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 100px;
    border-bottom: 1px solid #F0F1F9;
    margin-bottom: 30px;
    margin-right: 3%;
}
.account-settings .row{
    margin-top: 40px;
}
.collected-nfts{
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F0F1F9;
    margin-right: 3%;

}
.radical-nfts{
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F0F1F9;
    margin-right: 3%;

}

.patronage-nfts{
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid #F0F1F9;
    margin-right: 3%;
}

.price-eth{
    font-family: Whyte Inktrap;
    font-style: normal;
    padding-left: 20px;
    font-weight: normal;
    font-size: 40px;
    line-height: 100%;    
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    
    color: #313439;
}
.cancel-subscription-button{
    height: 87px;
    margin: 0 auto;
    text-transform: uppercase;
    color: rgba(49, 52, 57, 0.6);
    background: rgba(240, 241, 249, 0.5);
    border-radius: 20px;
    border: none;
}

.collect-patronage{
    width: 100%;
    height: 183px;
    background: #4946E6;
    color: white;
    border: none;
    border-radius: 1000px;
}
.listed-nft-desc{
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    height: 370px;
}
.profile-section-desc{
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #808195;
    margin-top: 20px;
    margin-bottom: 80px;

}
.profile-section-title{
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #313439;
    margin-top: 100px;
}
.profile-page{
    padding-left: 20px;
}
.total-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    padding-right: 20px;
    border-radius: 30px;
}
.deposit-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}
.box
{
    padding-right: 20px;
}

.total-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}


.right-profile{
    height: 1500px;
    padding-left: 30px;
    margin-left: 25%;
    margin-top: 30px;
}

.left-profile{
    background: #F0F1F9;
    margin: 0;
    height: 1000px; 
    overflow: hidden;
    position: fixed;
}

.logo-profile{
    margin-left: 50px;
    margin-top: 30px;
}
.settings-button{
    align-items: center;
    height: 120px;
    border: none;    
    width: 100%;
    background: #9795DC;
    border-radius: 1000px;
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.profile-nav a{
    text-decoration: none;
    color: #808195;
}
.manage-funds-buttons{
    padding-right: 7%;
    padding-left: 7%;

}
.my-subscription-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #313439;
}
.settings-field{
    background: #F7F7FC;
    height: 120px;
    border-radius: 30px;
    width: 100%;
}