.profile-nav{
    font-family: Grtsk-Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #808195;
    flex: none;
    order: 1;

    flex-grow: 0;
    margin: 15px 0px;
    margin-top: 200px;
    margin-left: 50px;
}
.profile-nav div{
    margin-bottom: 25px;
}
.back-to-markeplace{
    float: left;
    font-family: Grtsk Zetta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #313439;
}
.right-profile-menu{
    float: right;
}
.current-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}
.collect-patronage{
    width: 100%;
    height: 183px;
    background: #4946E6;
    color: white;
    border: none;
    border-radius: 1000px;
}
.profile-section-desc{
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #808195;
    margin-top: 20px;
    margin-bottom: 80px;

}
.profile-section-title{
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #313439;
    margin-top: 100px;
}
.total-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}
.deposit-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}

.total-patronage{
    width: 100%;
    height: 190px;
    background: #F7F7FC;
    border-radius: 30px;
}


.right-profile{
    height: 1500px;
    padding-left: 20px;
    margin-left: 25%;
    margin-top: 30px;
}

.left-profile{
    background: #F0F1F9;
    margin: 0;
    height: 1000px; 
    overflow: hidden;
    position: fixed;
}

.logo-profile{
    margin-left: 50px;
    margin-top: 30px;
}