.card{
    width: 220px;
    margin-right: 20px;
    border: none!important;
    box-shadow: 0px 4px 30px 2px rgba(229, 230, 237, 0.5);
    border-radius: 20px!important;

}
.file-format{
    float: right;
}
.author-earning{
    text-align: left;
}
.title-earning{
    text-align: left;
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 110%;
    color: #313439
}
.card-group{
    border: none!important;
    margin-right: 30px;

}
.earning-price{
    margin: 0 auto;
    margin-top: 40px;
    border-top:1px solid rgba(215, 218, 241, 1) ;
}
.listed-price-earning{
    text-align: left;
}
.left-part-earning{
    text-align: left;
    border-right: 1px solid rgba(215, 218, 241, 1);
    margin-top: 15px;
    min-height: 60px;

}
.listed-price-desc-earning{
    text-align: left;
    color: #D7DAF1;
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 120%;

}
.right-part-earning{
    text-align: left;
    margin-top: 15px;
    min-height: 50px;

}
.patronage-earning{
    text-align: left;
    text-transform: uppercase;
    color: #313439;
    padding-left: 20px;

}
.card-img-top{
    background: linear-gradient(0deg, #F0F1F9, #F0F1F9), #FFFFFF;
    width: 260px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 290px;
}

.nft-price{
    margin: 0 auto;
    margin-top: 90px;
    border-top:1px solid rgba(215, 218, 241, 1)    ;
}
.card-body{
    border-radius: 20px;

    width: 260px;
    background: rgba(255, 255, 255, 1) ;

}
.patronage-desc-earning{
    text-align: left;
    margin-left: 20px;
    color: #D7DAF1;
    font-family: Whyte;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 120%;
}